<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand fw-semibold" routerLink="/">RequisiçõesApp</a>
    <button (click)="estaColapsada = !estaColapsada" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngbCollapse]="!estaColapsada">

      <!-- pippes do Angular -->
      <div class="links fw-semibold w-100 text-center" *ngIf="usuarioLogado | async">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-primary" aria-current="page" routerLink="/departamentos">Departamentos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-primary" aria-current="page" routerLink="/produtos">Produtos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-primary" aria-current="page" routerLink="/funcionarios">Funcionarios</a>
          </li>
          <div class="ms-auto">
            <a role="button" class="btn btn-primary px-5" (click)="sair()">Sair</a>
          </div>
        </ul>
      </div>

    </div>
  </div>
</nav>
