<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-9 mx-auto mt-5">
      <div class="text-center text-md-start">
        <h1 class="fw-bold">Departamentos</h1>
      </div>

      <div class="d-grid gap-2 d-md-block my-4">
        <button
          (click)="gravar(modal)"
          type="button" class="btn btn-primary me-md-1 col-md-2">
          <i class="pi pi-user-plus me-2">Novo</i>
        </button>
        <a
          role="button"
          class="btn btn-outline-primary col-md-2"
          routerLink="/painel">
          <i class="pi pi-sign-out me-2"></i> Voltar
        </a>
      </div>
      <div>
        <table class="table table-light table-striped table-hover">
          <thead class="thead-dark text-center">
            <tr>
              <th>Nome</th>
              <th>Telefone</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let departamento of (departamentos$ | async)">
              <td>{{departamento.nome}}</td>
              <td>{{departamento.telefone}}</td>
              <td class="d-grid d-md-block">
                <button
                  (click)="gravar(modal, departamento)"
                  type="button"
                  class="btn btn-primary me-0 me-md-1 mb-1 mb-md-auto">
                  <i class="pi pi-user-edit"></i>
                </button>

                <button
                  (click)="excluir(departamento)"
                  type="button"
                  class="btn btn-outline-danger">
                  <i class="pi pi-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Cadatro de Departamento</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('fechar')"></button>
  </div>
  <form [formGroup]="form" (ngSubmit)="modal.close('gravar')">
    <div class="modal-body">

      <div class="form-group mb-3 position-relative">
          <label for="nome" class="form-label">Nome do departamento</label>
          <input formControlName = "nome"
          class="form-control"
          type="text"
          placeholder="Digite o nome do departamento"
          [ngClass]="(nome?.touched && nome?.invalid)? 'is-invalid' : ''">
          <div
          class="invalid-tooltip"
          *ngIf="nome?.touched && nome?.invalid">
            <span *ngIf="nome?.errors?.['required']">O nome é obrigatório</span>
            <span *ngIf="nome?.errors?.['minlength']">O nome precisa ter no mínimo 3 letras</span>
          </div>
      </div>

      <div class="form-group mb-3 position-relative">
        <label for="telefone" class="form-label">Telefone do departamento</label>
        <input formControlName = "telefone"
        mask="(00) 0000-0000||(00) 0 0000-0000"
        class="form-control"
        type="text"
        placeholder="Digite o n° de telefone do departamento"
        [ngClass]="(telefone?.touched && telefone?.invalid)? 'is-invalid' : ''">
        <div
        class="invalid-tooltip"
        *ngIf="telefone?.touched && nome?.invalid">
          <span *ngIf="telefone?.errors?.['required']">O telefone é obrigatório</span>
          <span *ngIf="telefone?.errors?.['minlength']">O telefone deve estar no formato (00) 0000-0000 ou (00) 0 0000-0000</span>
        </div>
    </div>

  </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary col-md-3" (click)="modal.dismiss('fechar')">Cancelar</button>
      <button type="submit" class="btn btn-primary col-md-3" [disabled]="this.form.invalid">Enviar</button>
    </div>
  </form>
</ng-template>

