<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-9 mx-auto mt-5">
      <div class="text-center text-md-start">
        <h1 class="fw-bold text-primary">Minhas Requisições</h1>
      </div>
      <div class="d-grid gap-2 d-md-block mt-4">
        <button (click)="gravar(modal)" type="button" class="btn btn-primary me-md-1 col-md-2">
          <i class="pi pi-user-plus me-2"></i>Novo
        </button>
        <a role="button" class="btn btn-outline-primary col-md-2" routerLink="/painel">
          <i class="pi pi-sign-out me-2"></i>Voltar
        </a>
      </div>

      <div class="mt-4">
        <table class="table table-light table-striped table-hover">
          <thead class="thead-dark text-center">
            <tr>
              <th>Data De Abertura</th>
              <th>Departamento</th>
              <th>Descrição</th>
              <th>Equipamento</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let requisicao of (requisicoes$ | async | requisicoesFuncionario: funcionarioLogado.id)">
              <td>{{ requisicao.dataDeAbertura.toDate() | date: 'dd/MM/yyyy' }}</td>
              <td>{{ requisicao.departamento?.nome}}</td>
              <td>{{ requisicao.descricao }}</td>
              <td>{{ requisicao.produto ? requisicao.produto?.nome : "Não Selecionado" }}</td>
              <td class="d-grid d-md-block">
                <button (click)="gravar(modal, requisicao)" type="button"
                  class="btn btn-primary me-0 me-md-1 mb-1 mb-md-auto">
                  <i class="pi pi-user-edit"></i>
                </button>

                <button
                  [routerLink]="['/requisicoes', requisicao.id]"
                  type="button"
                  class="btn btn-outline-primary">
                  <i class="pi pi-tags"></i>
                </button>

                <button (click)="excluir(requisicao)" type="button" class="btn btn-outline-danger">
                  <i class="pi pi-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Cadastro de Requisição</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('fechar')"></button>
  </div>
  <form [formGroup]="form" (ngSubmit)="modal.close('gravar')">
    <div class="modal-body">
      <div class="form-group mb-3 position-relative">
        <label for="departamentoId" class="form-label">Departamento</label>
        <ng-select formControlName="departamentoId"
        [clearable]="false"
        [searchable]="false">
          <ng-option
            *ngFor="let departamento of (departamentos$ | async)"
            [value]="departamento.id">
            {{ departamento.nome }}
          </ng-option>
        </ng-select>
        <div
          class="invalid-tooltip"
          *ngIf="departamentoId?.touched && departamentoId?.invalid">
            <span *ngIf="departamentoId?.errors?.['required']">O departamento é obrigatório</span>
        </div>
        </div>

        <div class="form-group mb-3 position-relative">
          <label for="descricao" class="form-label">Descrição</label>
          <textarea formControlName="descricao" type="text"
            [ngClass]="(descricao?.touched && descricao?.invalid) ? 'is-invalid' : ''" class="form-control"
            placeholder="Digite a descrição da Requisição"></textarea>
          <div class="invalid-tooltip" *ngIf="descricao?.touched && descricao?.invalid">
            <span *ngIf="descricao?.errors?.['required']">A descrição precisa ser preenchida.</span>
            <span *ngIf="descricao?.errors?.['minlength']">A descrição precisa ter no minímo 3 caracteres.</span>
          </div>
        </div>

        <div class="form-group mb-3 position-relative">
          <label for="produtoId" class="form-label">Equipamento</label>
          <ng-select formControlName="produtoId"
            [ngClass]="(produtoId?.touched && produtoId?.invalid) ? 'is-invalid' : ''"
            [searchable]="false">
            <ng-option
            *ngFor="let equipamento of (produtos$ | async)"
            [value]="equipamento.id">
              {{ equipamento.nome }}
            </ng-option>
          </ng-select>
        </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary col-md-3" (click)="modal.dismiss('fechar')">Cancelar</button>
      <button type="submit" class="btn btn-primary col-md-3" [disabled]="this.form.invalid">Gravar</button>
    </div>
  </form>
</ng-template>
